

*{
padding: 0;
margin: 0;
font-family: 'poppins' 'sans-serif';
box-sizing: border-box;
}



body {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


.p1{
width: 90%;
max-width: 470px;
  background: rgba(18, 7, 78, 0.15);
    backdrop-filter: blur(12px);
color: #fff;
margin: 100px auto 0;
border-radius: 20px;
padding: 20px 20px;
text-align: center;
}

.search{
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
}

.search input{
    border: 0;
    outline: 0;
    background-color: beige;
height: 60px;
color: black;
padding: 10px 25px;
border-radius: 60px;
flex: 1;
margin-right: 16px;
font-size: 18px;
}
.b1{
 border: 0;
    outline: 0;
    background-color: beige;
    border-radius: 50%;
   font: 20px;
width: 50px;
height: 50px;
cursor: pointer;
transition: 0.3s;
}
.b1:hover {
  background: #ddd;
}



.weather{
    margin-top: 30px;
    display: flex;
   display: inline-block;
flex-direction: row;


}

.weather-icon {
  width: 120px;
}

.img{
    border-radius: 40px;
    width: 150px;
}
.temp{
   margin-top: 10px;
    font-size: 48px;
}

.hm{
    padding-top: 60px;
}


.city {
  font-size: 24px;
  opacity: 0.9;
}


.details{
/* display: flex; */

align-items: center;
justify-content: space-around;
padding: 0 20px;
margin-top: 30px;
}

.col {
  display: flex;
  align-items: center;
  gap: 10px;
}

.col img {
  width: 35px;
}

.weather h2{
    font-size: 45px;
    font-size: 400;
    /* margin margin-top: -10px; */
}


.humidity, .wind {
  font-size: 18px;
  font-weight: 600;
}

.col{
    font-size: 20px;
}

.col span {
  font-size: 12px;
  opacity: 0.8;
}